# AnnouncePlus by Makerbase

SHOPIFY_API_KEY=""
SHOPIFY_API_SECRET=""
SHOPIFY_APP_URL="https://localhost:3000"
SCOPES="read_products,write_metaobjects,read_metaobjects"

# Local SQLite (development)
DATABASE_URL="file:dev.sqlite"

# Turso (production)
TURSO_DATABASE_URL=""
TURSO_AUTH_TOKEN=""
